@import "./sass/utils/animate";


*, ::before, ::after{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}

h1{
    font-family: 'Shrikhand', sans-serif;
    font-size: 25px;
}

h2{
    font-size: 20px;
}

*{
    font-family: 'Roboto', sans-serif;
}

.container-grid{
    height: 100vh;
    width: 100%;
    display: grid;
    margin: 10px auto;
    padding: 10px ;
    position: relative;
    
        .header-arrow{
            position: absolute; 
            left:30px ;
            margin-top: -20px;
            font-size: x-large;
            font-weight: 900;
            color: #000;
            width: 30px;
                 
        }


    main{
        background-color: white;
    
        img{
            display: block; 
            width: 100%; 
            height: auto;
            object-fit: cover;
        }
        
        .resto{
                display:flex;
                flex-direction: column;
                background-color: #F2F2F2;
                position: relative;
                width: 90%;
                border-radius:40px 40px 0 0;
                padding: 35px 15px 80px 15px;
                margin-top: -60px;
                margin-left: auto;
                margin-right: auto;


            
                .name-restaurant {
                    width: 100%;
                    .text-restaurant{
                        float: left;
                        margin: 15px ;

                    }
                    
                    .fa-regular{
                        float: right;
                        margin: 20px;
                        font-size:25px;
                    }
                    .fa-solid{
                        float: right;
                        margin: 25px;
                        font-size:25px;
                        margin-right: -45px; ;
                        margin-top: 20px;
                        color: transparent;
                        background-image: $gradient-explore;
                        -webkit-background-clip: text;
                        opacity: 0;
                        transition: all 200ms ease-in-out;
                    
                    }
                    &:hover .fa-solid{
                        opacity: 1;
                        transform:scale(1.2) ;
                    }
                }

                .menus{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-evenly;
                    width: 100%;
                    margin: auto;
                    padding-top: 80px;

                    .menu-standard {
                        align-items: center;
                        justify-content: space-evenly;
                        width: 30%;
                        gap: 10px;
                        margin: 10px;

                        h2{
                            margin-left: 10px;
                            text-transform: uppercase;
                            font-weight: 400;
                            position: relative;
                            &::after{
                                content: "";
                                position: absolute;
                                top: 35px;
                                left: 0px;
                                height: 5px;
                                width: 55px;
                                background-color: $color-tertiary;
                            }
                                                
                        }
                                            

                        .list-menus{
                            align-items: center;
                            justify-content: space-evenly;
                            gap: 10px;
                            margin: 5px;

                            .entrance{
                                display: flex;
                                width: 100%;
                                height: 60px;
                                gap: 30px;
                                margin-top: 50px;
                                margin-bottom: 30px;
                                border-radius: 20px;
                                background-color: white;
                                box-shadow : 5px 5px 5px lightgrey;
                                white-space: nowrap;
                                overflow: hidden;  
                                animation: progress 3s;
                                font-size: small;

                                                                                    
                            
                                .text-restaurant{
                                    white-space: nowrap;
                                    overflow: hidden;  
                                    text-overflow: ellipsis;
                                    padding: 10px;

                                    h3{
                                        text-overflow: ellipsis;
                                        white-space: nowrap;
                                        overflow: hidden;
                                        margin-left: 10px;
                                        
                                    }
                                    p{
                                        text-overflow: ellipsis;
                                        white-space: nowrap;
                                        overflow: hidden;
                                        margin-left: 10px;
                                    }
                            
                                }

                                 .price{
                                    margin-left: auto;
                                    padding: 15px 0 10px 15px;
                                    font-weight: 900;
                                    display: flex;
                                    align-items: flex-end;
                                    
                                }
                                .check{
                                    $check-width: 65px;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    background-color: $color-tertiary;
                                    margin-right: -1 * $check-width;
                                    min-width: $check-width;
                                    height: 60px;
                                    border-radius: 0 20px 20px 0  ;
                                    transition: all 0.5s;
                                    flex-grow: 0;
                                
                                    i{
                                        display: grid;
                                        place-items: center;
                                        background: white;
                                        aspect-ratio: 1/1;
                                        width: 30px;
                                        border-radius: 15px;
                                        color: $color-tertiary;
                                        font-weight: 900;
                                    }
                                    
                                    
                                }
                                &:hover .check{
                                    margin-right: 0;
                                    i{
                                        @include quarter-check;
                                        animation: quarter-check 0.5s ease-in-out;
                                    }
                                }

                            
                            }
                                
                        }
                }
             
            }
                .command{
                    display: block;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
            
                    button{
                    border: 0;
                    line-height: 2.5;
                    padding: 0 20px;
                    font-size: 22px;
                    text-align: center;
                    color: #fff;
                    text-shadow: 1px 1px 1px #000;
                    border-radius: 40px;
                    align-items: center;
                    background: $gradient-explore;
                    box-shadow : 5px 5px 3px lightgray;
                    margin: 15px;
                    
                    &:hover{
                        transform: scale(1.02);
                        opacity: 0.9;
                        filter: brightness(1.25);
                    }  
                 }
        }
    }
}
    footer{
        width: 100%;

    }
}

// RESPONSIVE //
@media screen and (min-width:1325px) and (max-width: 1501px) {
    .container-grid{
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        width: 100%;

        main{
            width: 100%;
            padding: 0;
            margin: 0;

            .resto{
                width: 100%;
                display : flex;
                flex-direction: column;

                .menus{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-evenly;
                    width: 100%;
                    margin-left: 0 ;
                    padding-top: 80px;

                    .menu-standard {
                        align-items: center;
                        flex-direction: column;
                        justify-content: space-between;
                        
    
                        h2{
                        margin-left :0;
                           
                        }
    
                        .list-menus{
                            align-items: center;
                            justify-content: space-evenly;
                            gap: 30px;
                            margin: 0;
                                
                            .entrance{
                                width: 100%;
                                height: 70px;
                                font-size: small;
                                white-space: nowrap;
                                overflow: hidden;         
                                                                                
                            
                                .text-restaurant{
                                    white-space: nowrap;
                                    overflow: hidden;  
                                    text-overflow: ellipsis;
                                    padding: 20px 20px 20px 0;

                                    h3{
                                        text-overflow: ellipsis;
                                        white-space: nowrap;
                                        overflow: hidden;
                                        margin-left: 10px;
                                        
                                    }
                                    p{
                                        text-overflow: ellipsis;
                                        white-space: nowrap;
                                        overflow: hidden;
                                        margin-left: 10px;
                                    }
                            
                                }
                                .price{
                                    margin-left: auto;
                                    padding: 15px 0 25px 15px;
                                    font-weight: 900;
                                    display: flex;
                                    align-items: flex-end;
                                }
                                .check{
                                    $check-width: 65px;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    background-color: $color-tertiary;
                                    margin-right: -1 * $check-width;
                                    width: $check-width;
                                    height: 70px;
                                    border-radius: 0 20px 20px 0  ;
                                    transition: all 0.5s;
                                    flex-shrink: 0;
                                    
                                }
                            }
                                
                        }
                    }
                }
            }
        }


    }
     
}

@media  screen and (min-width: 912px)  and (max-width: 1324px){
    
    .container-grid{
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        width: 100%;

        main{
            width: 100%;
            padding: 0;
            margin: 0;

            .resto{
                width: 100%;
                display : flex;
                flex-direction: column;


                .menus{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-evenly;
                    width: 100%;
                    margin-left: 0 ;
                    padding-top: 80px;

                    .menu-standard {
                        align-items: center;
                        flex-direction: column;
                        justify-content: space-between;
                        width: 47%;
                        gap: 10px;
                        margin-left: 0;
    
                        h2{
                        text-align: left;
                        }
    
                        .list-menus{
                            align-items: center;
                            justify-content: space-evenly;
                            gap: 30px;
                            margin: 0;
                            
    
                            .entrance{
                                width: 100%;
                                height: 90px;
                                font-size: medium;
                                white-space: nowrap;
                                overflow: hidden;         
                                                                                    
                            
                                .text-restaurant{
                                    white-space: nowrap;
                                    overflow: hidden;  
                                    text-overflow: ellipsis;
                                    padding: 30px 30px 30px 0;
                                    font-size: small;


                                    h3{
                                        text-overflow: ellipsis;
                                        white-space: nowrap;
                                        overflow: hidden;
                                        margin-left: 10px;
                                        
                                    }
                                    p{
                                        text-overflow: ellipsis;
                                        white-space: nowrap;
                                        overflow: hidden;
                                        margin-left: 10px;
                                    }
                            
                                }
                                .price{
                                    margin-left: auto;
                                    padding: 15px 0 25px 15px;
                                    font-weight: 900;
                                    display: flex;
                                    align-items: flex-end;
                                }
                                .check{
                                    $check-width: 65px;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    background-color: $color-tertiary;
                                    margin-right: -1 * $check-width;
                                    width: $check-width;
                                    height: 90px;
                                    border-radius: 0 20px 20px 0  ;
                                    transition: all 0.5s;
                                    flex-shrink: 0;
                                    
                                }
                            }
                                
                        }
                    }
                }
                
                .command{
                    display: block;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
            
                    button{
                    border: 0;
                    line-height: 2.5;
                    padding: 0 20px;
                    font-size: 22px;
                    text-align: center;
                    color: #fff;
                    text-shadow: 1px 1px 1px #000;
                    border-radius: 40px;
                    align-items: center;
                    background: linear-gradient( #FF79DA, #9356DC);
                    margin: 15px;
                    }
                }

           
            }
            
        }
       

        footer{
            width: 100%;
        }
    }

}


@media  screen and (min-width: 573px) and (max-width: 911px) {
    
    .container-grid{
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        width: 100%;

        main{
            width: 100%;
            padding: 0;
            margin: 0;

            .resto{
                width: 100%;
                display : flex;
                flex-direction: column;

                .menus{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    width: 100%;
                    margin: auto;
                    padding-top: 80px;

                    .menu-standard {
                        align-items: center;
                        flex-direction: column;
                        justify-content: space-evenly;
                        width: 100%;
                        gap: 30px;
                        margin: 10px;
    
                        h3{
                        margin-left: 0px;
                        }
    
                        .list-menus{
                            align-items: center;
                            justify-content: space-evenly;
                            gap: 30px;
                            margin: 0px;
                            margin-right: 20px;
    
                            .entrance{
                                width: 100%;
                                height: 100px;
                                font-size: medium;
                                white-space: nowrap;
                                overflow: hidden;         
                                                                                    
                            
                                .text-restaurant{
                                    white-space: nowrap;
                                    overflow: hidden;  
                                    text-overflow: ellipsis;
                                    padding: 30px 30px 30px 0;

                                    h3{
                                        text-overflow: ellipsis;
                                        white-space: nowrap;
                                        overflow: hidden;
                                        margin-left: 10px;
                                        
                                    }
                                    p{
                                        text-overflow: ellipsis;
                                        white-space: nowrap;
                                        overflow: hidden;
                                        margin-left: 10px;
                                    }
                            
                                }
                                .price{
                                    margin-left: auto;
                                    padding: 15px 0 30px 15px;
                                    font-weight: 900;
                                    display: flex;
                                    align-items: flex-end;
                                }
                                .check{
                                    $check-width: 65px;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    background-color: $color-tertiary;
                                    margin-right: -1 * $check-width;
                                    width: $check-width;
                                    height: 100px;
                                    border-radius: 0 20px 20px 0  ;
                                    transition: all 0.5s;
                                    flex-shrink: 0;
                                    
                                }
                            }
                                
                        }
                    }
                }
                .command{
                    display: block;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
            
                    button{
                    border: 0;
                    line-height: 2.5;
                    padding: 10px;
                    font-size: 20px;
                    text-align: center;
                    color: #fff;
                    text-shadow: 1px 1px 1px #000;
                    border-radius: 40px;
                    align-items: center;
                    background: $gradient-explore;
                    margin: 15px;
                    }
                }
            }

           
        }
            
              
       

        footer{
            width : 100%
            
        }
    }

}

@media  screen and (max-width: 572px) {
    
    .container-grid{
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        width: 100%;

        main{
            width: 100%;
            padding: 0;
            margin: 0;

            .resto{
                width: 100%;
                display : flex;
                flex-direction: column;
                
                h1{
                    font-size: larger;
                }

                    


                .menus{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    width: 100%;
                    margin: auto;
                    padding-top: 80px;

                    .menu-standard {
                        align-items: center;
                        flex-direction: column;
                        justify-content: space-evenly;
                        width: 100%;
                        gap: 30px;
                        margin: 10px;
    
                        h3{
                        margin-left: 0px;
                        }
    
                        .list-menus{
                            align-items: center;
                            justify-content: space-evenly;
                            gap: 30px;
                            margin: 0px;
                            margin-right: 20px;
    
                            .entrance{
                                width: 100%;
                                height: 70px;
                                font-size: small;
                                white-space: nowrap;
                                overflow: hidden;         
                                                                                    
                            
                                .text-restaurant{
                                    white-space: nowrap;
                                    overflow: hidden;  
                                    text-overflow: ellipsis;
                                    padding: 20px 20px 0 0;

                                    h3{
                                        text-overflow: ellipsis;
                                        white-space: nowrap;
                                        overflow: hidden;
                                        margin-left: 10px;
                                        
                                    }
                                    p{
                                        text-overflow: ellipsis;
                                        white-space: nowrap;
                                        overflow: hidden;
                                        margin-left: 10px;
                                    }
                            
                                }
                                .price{
                                    margin-left: auto;
                                    padding: 15px 0 20px 15px;
                                    font-weight: 900;
                                    display: flex;
                                    align-items: flex-end;
                                }
                                .check{
                                    $check-width: 65px;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    background-color: $color-tertiary;
                                    margin-right: -1 * $check-width;
                                    width: $check-width;
                                    height: 70px;
                                    border-radius: 0 20px 20px 0  ;
                                    transition: all 0.5s;
                                    flex-shrink: 0;
                                    
                                }
                            }
                                
                        }
                    }
                }
                .command{
                    display: block;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
            
                    button{
                    border: 0;
                    line-height: 2.5;
                    padding: 10px;
                    font-size: 20px;
                    text-align: center;
                    color: #fff;
                    text-shadow: 1px 1px 1px #000;
                    border-radius: 40px;
                    align-items: center;
                    background: $gradient-explore;
                    margin: 15px;
                    }
                }
            }

           
        }
            
              
       

        footer{
            width : 100%
            
        }
    }

}



