@import "./sass/utils/variables";
@import "./sass/layout/header";
@import "./sass/layout/footer";
@import "./sass/restaurant";

*, ::before, ::after{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}


.loader{
    position: fixed;
    display: grid;
    place-items: center;
    background-color: #ffffff;
    height: 100vh;
    inset: 0;
    z-index: 1;
    opacity: 0.9;
    animation: loader 200ms 3s forwards;
    transform-origin: top;
   
}
@keyframes loader{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(0);
        
    }
}

.container-grid{
    height: 100vh;
    width: 100%;
    display: grid;
    margin: 10px auto;
    padding: 10px auto;


    main{
        display:flex;
        flex-direction: column;
        background-color: white; 
        @include flexMid;
        padding: 0 20px;

        .description{
            @include flexMid;
            width: 100%;
            height: auto;
            flex-direction: column;
            background-color:#F2F2F2;
            
            .map{
                @include flexMid;
                grid-column: span 1;
                background-color: lightgray;
                padding: 20px;
                gap: 20px;
                min-width: 100%;
            }
            .presentation{
                display: flex;
                flex-direction: column;
                background-color: #F2F2F2;
                align-items: center;
                text-align: center;
                padding-top: 50px;
                height: 100%;
                padding-bottom: 50px;

                h1{
                    padding: 10px;
                }

                p{
                    padding: 10px;
                }
                
                button{
                    border: none;
                    line-height: 2.5;
                    padding: 0 20px;
                    font-size: 25px;
                    text-align: center;
                    color: #fff;
                    text-shadow: 1px 1px 1px #000;
                    border-radius: 50px;
                    align-self: center;
                    margin: 15px;
                    background: $gardient-explore;
                    box-shadow : 5px 5px 10px -3px lightgray;
                    width: 400px;

                    &:hover{
                        transform: scale(1.02);
                        opacity: 0.9;
                        filter: brightness(1.25);
                    }  
                }         
            }
        }
        .working{
            padding: 40px;
            width: 100%;

            h1{
                margin-bottom: 15px;
                margin: 0;
                
            }

            counter-reset: choice;
            
                ol{
                    padding:20px;
                    display: flex;
                    gap: 30px;
                             
                

                    & li{

                        &::before{
                            content: counter(choice);
                            counter-increment: choice;
                            color: white;
                            background-color: $color-primary;
                            width: 30px;
                            height: 30px;
                            display: grid;
                            place-items:center ;
                            border-radius: 50%;
                            position: absolute;
                            bottom: 15px;
                            left: -15px;
                        }
                        position: relative;
                        list-style-type: none;
                        background-color:#f6f6f6;
                        padding:20px 30px;
                        border-radius:20px;
                        flex-grow:1;
                        box-shadow: 2px 1px 8px -3px #000000;
                        font-size: 20px;
                        font-weight: bold;
    
                        &:hover{
                            transform: scale(1.02);
                            opacity: 0.9;
                            filter: brightness(1.10);
                        } 

                        & i.fa-solid{
                            margin-right: 20px;
                            color: lightgrey;
                            font-size: 25px;

                        }

                        &:hover .fa-solid{
                            opacity: 1;
                            transform:scale(1.2) ;
                            color: #FF79DA;
                            
                        }
                    }
        
                }
            }

        .restaurants{
            padding: 40px;
            background-color: #F2F2F2;
            h1{
                margin-bottom: 15px;
            }
      
            .list-restaurants{
                display: flex;
                flex-wrap: wrap;
                gap: 35px;
                .card-restaurant{
                    background-color: white;
                    position: relative;
                    border-radius: 15px;
                    flex-grow: 1;
                    width: 47%;

                    .btn-new {
                        position: absolute;
                        right: 15px;
                        top: 20px;
                        background-color: #99e2d0;
                        color: #377c6b;
                        padding: 10px;
                        font-weight: bold;
                    }
              
                        img{
                            object-fit: cover;
                            width: 100%;
                            height: 200px;
                            margin-top: 0%;
                            border-top-left-radius: 20px;
                            border-top-right-radius: 20px;

                            &:hover{
                                transform: scale(1.02);
                                opacity: 0.9;
                                filter: brightness(1.25);
                            } 
                                                           
                        }
                 
                                      
                    .name-restaurant {
                        
                        .text-restaurant{
                            float: left;
                            margin: 15px ;
                            color:#000;  
                            text-decoration: none;
                            h4{
                                font-size: 20px;
                                font-weight: 900;
                            }

                    
                        }
                        .fa-regular{
                            float: right;
                            margin: 20px;
                            font-size:25px;
                        }
                        .fa-solid{
                            float: right;
                            margin: 25px;
                            font-size:25px;
                            margin-right: -45px; ;
                            margin-top: 20px;
                            color: transparent;
                            background-image: linear-gradient($color-primary, $color-secondary);
                            -webkit-background-clip: text;
                            opacity: 0;
                            transition: all 200ms ease-in-out;
                        
                        }
                        &:hover .fa-solid{
                            opacity: 1;
                            transform:scale(1.2) ;
                        }
                    }
                }
            
            }
        }
    }


}

// RESPONSIVE //
@media screen and (min-width:1138px){
    .container-grid{
        width: 100%;
        min-height: 100vh;

        header{
            width: 100%;
        }

        main{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 0 auto;


            .working{
                padding: 40px;
                width: 100%;
                
    
                h1{
                    margin-bottom: 15px;
                    margin: 0;
                }
    
                counter-reset: choice;
                
                    ol{
                        padding:20px;
                        display: flex;
                        width: 100%;
                        gap: 30px;
                                 
                         
                        & li{
    
                            &::before{
                                content: counter(choice);
                                counter-increment: choice;
                                color: white;
                                background-color: $color-primary;
                                width: 30px;
                                height: 30px;
                                display: grid;
                                place-items:center ;
                                border-radius: 50%;
                                position: absolute;
                                bottom: 15px;
                                left: -15px;
                            }
                            position: relative;
                            list-style-type: none;
                            background-color:#f6f6f6;
                            padding:20px 30px;
                            border-radius:20px;
                            border : 1px solidd red;
                            flex-grow:1;
                            box-shadow: 2px 1px 8px -3px #000000;
                            font-size: 20px;
                            font-weight: bold;
        
                            &:hover{
                                transform: scale(1.02);
                            }
    
                            & i.fa-solid{
                                margin-right: 20px;
                                color: lightgrey;
                                font-size: 25px;
    
                            }
    
                            &:hover .fa-solid{
                                opacity: 1;
                                transform:scale(1.2) ;
                                color: #FF79DA;
                                
                            }
                        }
            
                    }
                }
            
          
        }
        section {
            width: 100%;
        }
        footer{
            width: 100%;
        }
    }
}


// RESPONSIVE //
@media screen and (max-width:1137px) and (min-width: 703px){
    .container-grid{
        width: 100%;
        min-height: 100vh;

        header{
            width: 100%;
        }

        main{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 0 auto;


            .working{
                padding: 40px;
                width: 100%;
                display: flex;
                flex-direction: column;
                
    
                h1{
                    margin-bottom: 15px;
                    margin: 0;
                }
    
                counter-reset: choice;
                
                    ol{
                        padding:20px;
                        display: flex;
                        flex-direction: column;
                        gap: 30px;
                                 
                         
                        & li{
    
                            &::before{
                                content: counter(choice);
                                counter-increment: choice;
                                color: white;
                                background-color: $color-primary;
                                width: 30px;
                                height: 30px;
                                display: grid;
                                place-items:center ;
                                border-radius: 50%;
                                position: absolute;
                                bottom: 15px;
                                left: -15px;
                            }
                            position: relative;
                            list-style-type: none;
                            background-color:#f6f6f6;
                            padding:20px 30px;
                            border-radius:20px;
                            flex-grow:1;
                            box-shadow: 2px 1px 8px -3px #000000;
                            font-size: 20px;
                            font-weight: bold;
                       
        
                            &:hover{
                                transform: scale(1.02);
                            }
    
                            & i.fa-solid{
                                margin-right: 20px;
                                color: lightgrey;
                                font-size: 25px;
    
                            }
    
                            &:hover .fa-solid{
                                opacity: 1;
                                transform:scale(1.2) ;
                                color: #FF79DA;
                                
                            }
                        }
            
                    }
                }
                .restaurants{
                    padding: 40px;
                    background-color: #F2F2F2;
                    h1{
                        margin-bottom: 15px;
                    }
              
                    .list-restaurants{
                        display: flex;
                        flex-wrap: wrap;
                        gap: 35px;
                        .card-restaurant{
                            background-color: white;
                            position: relative;
                            border-radius: 15px;
                            flex-grow: 1;
                            width: 47%;
        
                            .btn-new {
                                position: absolute;
                                right: 15px;
                                top: 20px;
                                background-color: #99e2d0;
                                color: #377c6b;
                                padding: 10px;
                                font-weight: bold;
                            }
                      
                                img{
                                    object-fit: cover;
                                    width: 100%;
                                    height: 200px;
                                    margin-top: 0%;
                                    border-top-left-radius: 20px;
                                    border-top-right-radius: 20px;
                                                                   
                                }
                         
                                              
                            .name-restaurant {
                                .text-restaurant{
                                    float: left;
                                    margin: 15px ;
                                }
                                .fa-regular{
                                    float: right;
                                    margin: 20px;
                                    font-size:25px;
                                }
                                .fa-solid{
                                    float: right;
                                    margin: 25px;
                                    font-size:25px;
                                    margin-right: -45px; ;
                                    margin-top: 20px;
                                    color: transparent;
                                    background-image: linear-gradient($color-primary, $color-secondary);
                                    -webkit-background-clip: text;
                                    opacity: 0;
                                    transition: all 200ms ease-in-out;
                                
                                }
                                &:hover .fa-solid{
                                    opacity: 1;
                                    transform:scale(1.2) ;
                                }
                            }
                        }
                    
                    }
                }
          
        }
    }
}

@media  screen and (min-width: 490px) and (max-width: 702px) {
    .container-grid{
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        width: 100%;

        .description{
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;

            .explore{
                text-align: center;
            }
        }

        
        .working{
      
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;

                h1{
                    margin-bottom: 15px;
                    margin: 0;
                }

                counter-reset: choice;
            
                ol{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    width: 100%;
                    
                             
                     
                    & li{

                        &::before{
                            content: counter(choice);
                            counter-increment: choice;
                            color: white;
                            background-color: $color-primary;
                            width: 30px;
                            height: 30px;
                            display: grid;
                            place-items:center ;
                            border-radius: 50%;
                            position: absolute;
                            bottom: 15px;
                            left: -15px;
                        }
                        position: relative;
                        list-style-type: none;
                        background-color:#f6f6f6;
                        padding:20px 30px;
                        border-radius:20px;
                        flex-grow:1;
                        box-shadow: 2px 1px 8px -3px #000000;
                        font-size: 20px;
                        font-weight: bold;
                        gap: 30px;
    
                        &:hover{
                            transform: scale(1.02);
                        }

                        & i.fa-solid{
                            margin-right: 20px;
                            color: lightgrey;
                            font-size: 25px;

                        }

                        &:hover .fa-solid{
                            opacity: 1;
                            transform:scale(1.2) ;
                            color: #FF79DA;
                            
                        }
                    }
        
                }
            }
        }

        .restaurants{
            padding: 40px;
            background-color: #F2F2F2;
            h1{
                margin-bottom: 15px;
            }
      
            .list-restaurants{
                display: flex;
                flex-wrap: wrap;
                gap: 35px;
                .card-restaurant{
                    background-color: white;
                    position: relative;
                    border-radius: 15px;
                    flex-grow: 1;
                    width: 47%;

                    .btn-new {
                        position: absolute;
                        right: 15px;
                        top: 20px;
                        background-color: #99e2d0;
                        color: #377c6b;
                        padding: 10px;
                        font-weight: bold;
                    }
              
                        img{
                            object-fit: cover;
                            width: 100%;
                            height: 200px;
                            margin-top: 0%;
                            border-top-left-radius: 20px;
                            border-top-right-radius: 20px;
                                                           
                        }
                 
                                      
                    .name-restaurant {
                        .text-restaurant{
                            float: left;
                            margin: 15px ;
                        }
                        .fa-regular{
                            float: right;
                            margin: 20px;
                            font-size:25px;
                        }
                        .fa-solid{
                            float: right;
                            margin: 25px;
                            font-size:25px;
                            margin-right: -45px; ;
                            margin-top: 20px;
                            color: transparent;
                            background-image: linear-gradient($color-primary, $color-secondary);
                            -webkit-background-clip: text;
                            opacity: 0;
                            transition: all 200ms ease-in-out;
                        
                        }
                        &:hover .fa-solid{
                            opacity: 1;
                            transform:scale(1.2) ;
                        }
                    }
                }
            
            }
        }
    }



@media  screen  and (max-width: 489px) {
    .container-grid{
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        width: 100%;

        .description{
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;

            .explore{
                text-align: center;
            }
        }

        
        .working{
            display: flex;
            justify-content: center;
            flex-direction: column;
            width: 100% ;
            margin-left: -45px;
            margin-right: 65px;
           
            ol{
                display: flex;
                flex-direction: column;
                justify-content:center;
                min-width:350px ;
                margin: 0 auto;

                li{
                    min-width: 300px;
                    
                 
                }
            }
     
                             
        }

        .restaurants{
            padding: 10px;
            background-color: #F2F2F2;
            h1{
                margin-bottom: 15px;
            }
      
            .list-restaurants{
                display: flex;
                flex-wrap: wrap;
                gap: 35px;
                .card-restaurant{
                    background-color: white;
                    position: relative;
                    border-radius: 15px;
                    width: 100% ;
            

                    .btn-new {
                        position: absolute;
                        right: 15px;
                        top: 20px;
                        background-color: #99e2d0;
                        color: #377c6b;
                        padding: 10px;
                        font-weight: bold;
                    }
              
                        img{
                            object-fit: cover;
                            min-width: 300px;
                            height: 200px;
                            margin-top: 0;
                            border-top-left-radius: 20px;
                            border-top-right-radius: 20px;
                                                           
                        }
                 
                                      
                    .name-restaurant {
                        .text-restaurant{
                            float: left;
                            margin: 15px ;
                        }
                        .fa-regular{
                            float: right;
                            margin: 20px;
                            font-size:25px;
                        }
                        .fa-solid{
                            float: right;
                            margin: 25px;
                            font-size:25px;
                            margin-right: -45px; ;
                            margin-top: 20px;
                            color: transparent;
                            background-image: linear-gradient($color-primary, $color-secondary);
                            -webkit-background-clip: text;
                            opacity: 0;
                            transition: all 200ms ease-in-out;
                        
                        }
                        &:hover .fa-solid{
                            opacity: 1;
                            transform:scale(1.2) ;
                        }
                    }
                }
            
            }
        }
    }


}

@media screen and (min-width :384px) and (max-width : 489px){
    .working{
      
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;

            h1{
                margin-bottom: 15px;
                margin: 0;
            }

            counter-reset: choice;
        
            ol{
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 100%;
                                       
                 
                & li{

                    min-width: 300px;
                       
                   
                }
    
            }
        }
}