header {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: span 1;
  flex-direction: column;
  font-size: 22px;
  background-color: white;
  color: #000;
  padding: 20px;
}
header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 34px;
}

footer {
  grid-column: span 1;
  padding: 30px;
  text-align: left;
  font-size: 22px;
  background-color: rgb(53, 53, 53);
  color: white;
  line-height: 30px;
}
footer a {
  color: white;
  text-decoration: none;
}
footer a:hover {
  color: white;
}
footer h4 {
  width: 100px;
  height: 17px;
  margin-bottom: 30px;
  color: white;
  font-weight: bold;
  font-family: shrikhand, cursive;
  font-size: larger;
  margin-top: 0px;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}
footer span {
  margin-left: 10px;
}

@-webkit-keyframes progress {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 0.7;
  }
}

@keyframes progress {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 0.7;
  }
}
*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Shrikhand", sans-serif;
  font-size: 25px;
}

h2 {
  font-size: 20px;
}

* {
  font-family: "Roboto", sans-serif;
}

.container-grid {
  height: 100vh;
  width: 100%;
  display: grid;
  margin: 10px auto;
  padding: 10px;
  position: relative;
}
.container-grid .header-arrow {
  position: absolute;
  left: 30px;
  margin-top: -20px;
  font-size: x-large;
  font-weight: 900;
  color: #000;
  width: 30px;
}
.container-grid main {
  background-color: white;
}
.container-grid main img {
  display: block;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.container-grid main .resto {
  display: flex;
  flex-direction: column;
  background-color: #F2F2F2;
  position: relative;
  width: 90%;
  border-radius: 40px 40px 0 0;
  padding: 35px 15px 80px 15px;
  margin-top: -60px;
  margin-left: auto;
  margin-right: auto;
}
.container-grid main .resto .name-restaurant {
  width: 100%;
}
.container-grid main .resto .name-restaurant .text-restaurant {
  float: left;
  margin: 15px;
}
.container-grid main .resto .name-restaurant .fa-regular {
  float: right;
  margin: 20px;
  font-size: 25px;
}
.container-grid main .resto .name-restaurant .fa-solid {
  float: right;
  margin: 25px;
  font-size: 25px;
  margin-right: -45px;
  margin-top: 20px;
  color: transparent;
  background-image: linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 200ms ease-in-out;
}
.container-grid main .resto .name-restaurant:hover .fa-solid {
  opacity: 1;
  transform: scale(1.2);
}
.container-grid main .resto .menus {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  margin: auto;
  padding-top: 80px;
}
.container-grid main .resto .menus .menu-standard {
  align-items: center;
  justify-content: space-evenly;
  width: 30%;
  gap: 10px;
  margin: 10px;
}
.container-grid main .resto .menus .menu-standard h2 {
  margin-left: 10px;
  text-transform: uppercase;
  font-weight: 400;
  position: relative;
}
.container-grid main .resto .menus .menu-standard h2::after {
  content: "";
  position: absolute;
  top: 35px;
  left: 0px;
  height: 5px;
  width: 55px;
  background-color: #99E2D0;
}
.container-grid main .resto .menus .menu-standard .list-menus {
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
  margin: 5px;
}
.container-grid main .resto .menus .menu-standard .list-menus .entrance {
  display: flex;
  width: 100%;
  height: 60px;
  gap: 30px;
  margin-top: 50px;
  margin-bottom: 30px;
  border-radius: 20px;
  background-color: white;
  box-shadow: 5px 5px 5px lightgrey;
  white-space: nowrap;
  overflow: hidden;
  -webkit-animation: progress 5s;
          animation: progress 5s;
  font-size: small;
}
.container-grid main .resto .menus .menu-standard .list-menus .entrance .text-restaurant {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 10px;
}
.container-grid main .resto .menus .menu-standard .list-menus .entrance .text-restaurant h3 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-left: 10px;
}
.container-grid main .resto .menus .menu-standard .list-menus .entrance .text-restaurant p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-left: 10px;
}
.container-grid main .resto .menus .menu-standard .list-menus .entrance .price {
  margin-left: auto;
  padding: 15px 0 10px 15px;
  font-weight: 900;
  display: flex;
  align-items: flex-end;
}
.container-grid main .resto .menus .menu-standard .list-menus .entrance .check {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #99E2D0;
  margin-right: -65px;
  min-width: 65px;
  height: 60px;
  border-radius: 0 20px 20px 0;
  transition: all 0.5s;
  flex-grow: 0;
}
.container-grid main .resto .menus .menu-standard .list-menus .entrance .check i {
  display: grid;
  place-items: center;
  background: white;
  aspect-ratio: 1/1;
  width: 30px;
  border-radius: 15px;
  color: #99E2D0;
  font-weight: 900;
}
.container-grid main .resto .menus .menu-standard .list-menus .entrance:hover .check {
  margin-right: 0;
}
.container-grid main .resto .menus .menu-standard .list-menus .entrance:hover .check i {
  -webkit-animation: quarter-check 0.5s ease-in-out;
          animation: quarter-check 0.5s ease-in-out;
}
@-webkit-keyframes quarter-check {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0);
  }
}
@keyframes quarter-check {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0);
  }
}
.container-grid main .resto .command {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.container-grid main .resto .command button {
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 22px;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 40px;
  align-items: center;
  background: linear-gradient(#FF79DA, #9356DC);
  box-shadow: 5px 5px 3px lightgray;
  margin: 15px;
}
.container-grid main .resto .command button:hover {
  transform: scale(1.02);
  opacity: 0.9;
  filter: brightness(1.25);
}
.container-grid footer {
  width: 100%;
}

@media screen and (min-width: 1325px) and (max-width: 1501px) {
  .container-grid {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
  }
  .container-grid main {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .container-grid main .resto {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .container-grid main .resto .menus {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    margin-left: 0;
    padding-top: 80px;
  }
  .container-grid main .resto .menus .menu-standard {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .container-grid main .resto .menus .menu-standard h2 {
    margin-left: 0;
  }
  .container-grid main .resto .menus .menu-standard .list-menus {
    align-items: center;
    justify-content: space-evenly;
    gap: 30px;
    margin: 0;
  }
  .container-grid main .resto .menus .menu-standard .list-menus .entrance {
    width: 100%;
    height: 70px;
    font-size: small;
    white-space: nowrap;
    overflow: hidden;
  }
  .container-grid main .resto .menus .menu-standard .list-menus .entrance .text-restaurant {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 20px 20px 20px 0;
  }
  .container-grid main .resto .menus .menu-standard .list-menus .entrance .text-restaurant h3 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-left: 10px;
  }
  .container-grid main .resto .menus .menu-standard .list-menus .entrance .text-restaurant p {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-left: 10px;
  }
  .container-grid main .resto .menus .menu-standard .list-menus .entrance .price {
    margin-left: auto;
    padding: 15px 0 25px 15px;
    font-weight: 900;
    display: flex;
    align-items: flex-end;
  }
  .container-grid main .resto .menus .menu-standard .list-menus .entrance .check {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #99E2D0;
    margin-right: -65px;
    width: 65px;
    height: 70px;
    border-radius: 0 20px 20px 0;
    transition: all 0.5s;
    flex-shrink: 0;
  }
}
@media screen and (min-width: 912px) and (max-width: 1324px) {
  .container-grid {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
  }
  .container-grid main {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .container-grid main .resto {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .container-grid main .resto .menus {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    margin-left: 0;
    padding-top: 80px;
  }
  .container-grid main .resto .menus .menu-standard {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    width: 47%;
    gap: 10px;
    margin-left: 0;
  }
  .container-grid main .resto .menus .menu-standard h2 {
    text-align: left;
  }
  .container-grid main .resto .menus .menu-standard .list-menus {
    align-items: center;
    justify-content: space-evenly;
    gap: 30px;
    margin: 0;
  }
  .container-grid main .resto .menus .menu-standard .list-menus .entrance {
    width: 100%;
    height: 90px;
    font-size: medium;
    white-space: nowrap;
    overflow: hidden;
  }
  .container-grid main .resto .menus .menu-standard .list-menus .entrance .text-restaurant {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 30px 30px 30px 0;
    font-size: small;
  }
  .container-grid main .resto .menus .menu-standard .list-menus .entrance .text-restaurant h3 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-left: 10px;
  }
  .container-grid main .resto .menus .menu-standard .list-menus .entrance .text-restaurant p {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-left: 10px;
  }
  .container-grid main .resto .menus .menu-standard .list-menus .entrance .price {
    margin-left: auto;
    padding: 15px 0 25px 15px;
    font-weight: 900;
    display: flex;
    align-items: flex-end;
  }
  .container-grid main .resto .menus .menu-standard .list-menus .entrance .check {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #99E2D0;
    margin-right: -65px;
    width: 65px;
    height: 90px;
    border-radius: 0 20px 20px 0;
    transition: all 0.5s;
    flex-shrink: 0;
  }
  .container-grid main .resto .command {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .container-grid main .resto .command button {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 22px;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 40px;
    align-items: center;
    background: linear-gradient(#FF79DA, #9356DC);
    margin: 15px;
  }
  .container-grid footer {
    width: 100%;
  }
}
@media screen and (min-width: 573px) and (max-width: 911px) {
  .container-grid {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
  }
  .container-grid main {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .container-grid main .resto {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .container-grid main .resto .menus {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: auto;
    padding-top: 80px;
  }
  .container-grid main .resto .menus .menu-standard {
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    gap: 30px;
    margin: 10px;
  }
  .container-grid main .resto .menus .menu-standard h3 {
    margin-left: 0px;
  }
  .container-grid main .resto .menus .menu-standard .list-menus {
    align-items: center;
    justify-content: space-evenly;
    gap: 30px;
    margin: 0px;
    margin-right: 20px;
  }
  .container-grid main .resto .menus .menu-standard .list-menus .entrance {
    width: 100%;
    height: 100px;
    font-size: medium;
    white-space: nowrap;
    overflow: hidden;
  }
  .container-grid main .resto .menus .menu-standard .list-menus .entrance .text-restaurant {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 30px 30px 30px 0;
  }
  .container-grid main .resto .menus .menu-standard .list-menus .entrance .text-restaurant h3 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-left: 10px;
  }
  .container-grid main .resto .menus .menu-standard .list-menus .entrance .text-restaurant p {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-left: 10px;
  }
  .container-grid main .resto .menus .menu-standard .list-menus .entrance .price {
    margin-left: auto;
    padding: 15px 0 30px 15px;
    font-weight: 900;
    display: flex;
    align-items: flex-end;
  }
  .container-grid main .resto .menus .menu-standard .list-menus .entrance .check {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #99E2D0;
    margin-right: -65px;
    width: 65px;
    height: 100px;
    border-radius: 0 20px 20px 0;
    transition: all 0.5s;
    flex-shrink: 0;
  }
  .container-grid main .resto .command {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .container-grid main .resto .command button {
    border: 0;
    line-height: 2.5;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 40px;
    align-items: center;
    background: linear-gradient(#FF79DA, #9356DC);
    margin: 15px;
  }
  .container-grid footer {
    width: 100%;
  }
}
@media screen and (max-width: 572px) {
  .container-grid {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
  }
  .container-grid main {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .container-grid main .resto {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .container-grid main .resto h1 {
    font-size: larger;
  }
  .container-grid main .resto .menus {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: auto;
    padding-top: 80px;
  }
  .container-grid main .resto .menus .menu-standard {
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    gap: 30px;
    margin: 10px;
  }
  .container-grid main .resto .menus .menu-standard h3 {
    margin-left: 0px;
  }
  .container-grid main .resto .menus .menu-standard .list-menus {
    align-items: center;
    justify-content: space-evenly;
    gap: 30px;
    margin: 0px;
    margin-right: 20px;
  }
  .container-grid main .resto .menus .menu-standard .list-menus .entrance {
    width: 100%;
    height: 70px;
    font-size: small;
    white-space: nowrap;
    overflow: hidden;
  }
  .container-grid main .resto .menus .menu-standard .list-menus .entrance .text-restaurant {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 20px 20px 0 0;
  }
  .container-grid main .resto .menus .menu-standard .list-menus .entrance .text-restaurant h3 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-left: 10px;
  }
  .container-grid main .resto .menus .menu-standard .list-menus .entrance .text-restaurant p {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-left: 10px;
  }
  .container-grid main .resto .menus .menu-standard .list-menus .entrance .price {
    margin-left: auto;
    padding: 15px 0 20px 15px;
    font-weight: 900;
    display: flex;
    align-items: flex-end;
  }
  .container-grid main .resto .menus .menu-standard .list-menus .entrance .check {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #99E2D0;
    margin-right: -65px;
    width: 65px;
    height: 70px;
    border-radius: 0 20px 20px 0;
    transition: all 0.5s;
    flex-shrink: 0;
  }
  .container-grid main .resto .command {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .container-grid main .resto .command button {
    border: 0;
    line-height: 2.5;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 40px;
    align-items: center;
    background: linear-gradient(#FF79DA, #9356DC);
    margin: 15px;
  }
  .container-grid footer {
    width: 100%;
  }
}
*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Shrikhand", sans-serif;
  font-size: 25px;
}

h2 {
  font-size: 20px;
}

* {
  font-family: "Roboto", sans-serif;
}

.loader {
  position: fixed;
  display: grid;
  place-items: center;
  background-color: #ffffff;
  height: 100vh;
  inset: 0;
  z-index: 1;
  opacity: 0.9;
  -webkit-animation: loader 200ms 3s forwards;
          animation: loader 200ms 3s forwards;
  transform-origin: top;
}
.loader i {
  background: linear-gradient(#FF79DA, #9356DC);
  color: #99E2D0;
}

@-webkit-keyframes loader {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}

@keyframes loader {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}
.container-grid {
  height: 100vh;
  width: 100%;
  display: grid;
  margin: 10px auto;
  padding: 10px;
}
.container-grid main {
  display: flex;
  flex-direction: column;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}
.container-grid main .description {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  flex-direction: column;
  background-color: #F2F2F2;
}
.container-grid main .description .map {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: span 1;
  background-color: lightgray;
  padding: 20px;
  gap: 20px;
  min-width: 100%;
  text-align: center;
  padding: 15px 0 15px 0;
  font-weight: 700;
  box-shadow: inset 0px 2px 5px 0px #c4c3c0;
}
.container-grid main .description .presentation {
  display: flex;
  flex-direction: column;
  background-color: #F2F2F2;
  align-items: center;
  text-align: center;
  padding-top: 50px;
  height: 100%;
  padding-bottom: 50px;
}
.container-grid main .description .presentation h1 {
  padding: 10px;
}
.container-grid main .description .presentation p {
  padding: 10px;
}
.container-grid main .description .presentation button {
  border: none;
  line-height: 2.5;
  padding: 0 10px;
  font-size: 20px;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 50px;
  align-self: center;
  margin: 15px;
  background: linear-gradient(#FF79DA, #9356DC);
  box-shadow: 5px 5px 10px -3px lightgray;
  width: auto;
}
.container-grid main .description .presentation button:hover {
  transform: scale(1.02);
  opacity: 0.9;
  filter: brightness(1.25);
}
.container-grid main .working {
  padding: 20px;
  width: 100%;
  counter-reset: choice;
}
.container-grid main .working h1 {
  margin-bottom: 15px;
  margin: 0;
}
.container-grid main .working ol {
  padding: 20px;
  display: flex;
  gap: 30px;
}
.container-grid main .working ol li {
  position: relative;
  list-style-type: none;
  margin-top: 20px;
  background-color: #f6f6f6;
  border-radius: 20px;
  flex-grow: 1;
  box-shadow: 2px 1px 8px -3px #000000;
  font-size: 20px;
}
.container-grid main .working ol li::before {
  content: counter(choice);
  counter-increment: choice;
  color: white;
  background-color: #9356DC;
  width: 30px;
  height: 30px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  position: absolute;
  bottom: 15px;
  left: -15px;
}
.container-grid main .working ol li:hover {
  transform: scale(1.02);
  opacity: 0.9;
  filter: brightness(1.1);
}
.container-grid main .working ol li .fa-solid {
  margin-right: 20px;
  color: lightgrey;
  font-size: xx-small;
}
.container-grid main .working ol li span {
  font-size: medium;
  font-weight: 100;
}
.container-grid main .working ol li:hover .fa-solid {
  opacity: 1;
  transform: scale(1.2);
  color: #FF79DA;
}
.container-grid main .restaurants {
  padding: 40px;
  background-color: #F2F2F2;
}
.container-grid main .restaurants h1 {
  margin-bottom: 15px;
}
.container-grid main .restaurants .list-restaurants {
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
}
.container-grid main .restaurants .list-restaurants .card-restaurant {
  background-color: white;
  position: relative;
  border-radius: 15px;
  flex-grow: 1;
  width: 47%;
}
.container-grid main .restaurants .list-restaurants .card-restaurant .btn-new {
  position: absolute;
  right: 15px;
  top: 20px;
  background-color: #99E2D0;
  color: #377c6b;
  padding: 10px;
  font-weight: bold;
}
.container-grid main .restaurants .list-restaurants .card-restaurant img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 200px;
  margin-top: 0%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.container-grid main .restaurants .list-restaurants .card-restaurant img:hover {
  transform: scale(1.02);
  opacity: 0.9;
  filter: brightness(1.25);
}
.container-grid main .restaurants .list-restaurants .card-restaurant .name-restaurant .text-restaurant {
  float: left;
  margin: 15px;
  color: #000;
  text-decoration: none;
}
.container-grid main .restaurants .list-restaurants .card-restaurant .name-restaurant .text-restaurant h4 {
  font-size: 20px;
  font-weight: 900;
}
.container-grid main .restaurants .list-restaurants .card-restaurant .name-restaurant .fa-regular {
  float: right;
  margin: 20px;
  font-size: 25px;
}
.container-grid main .restaurants .list-restaurants .card-restaurant .name-restaurant .fa-solid {
  float: right;
  margin: 25px;
  font-size: 25px;
  margin-right: -45px;
  margin-top: 20px;
  color: transparent;
  background-image: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 200ms ease-in-out;
}
.container-grid main .restaurants .list-restaurants .card-restaurant .name-restaurant:hover .fa-solid {
  opacity: 1;
  transform: scale(1.2);
}

@media screen and (min-width: 1150px) {
  .container-grid {
    width: 100%;
    min-height: 100vh;
    margin: auto;
  }
  .container-grid header {
    width: 100%;
  }
  .container-grid main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
  }
  .container-grid main .working {
    padding: 40px;
    width: 100%;
    counter-reset: choice;
  }
  .container-grid main .working h1 {
    margin-bottom: 15px;
    margin: 0;
  }
  .container-grid main .working ol {
    padding: 20px;
    display: flex;
    width: 100%;
    gap: 30px;
  }
  .container-grid main .working ol li {
    position: relative;
    list-style-type: none;
    background-color: #f6f6f6;
    padding: 20px 30px;
    border-radius: 20px;
    flex-grow: 1;
    box-shadow: 2px 1px 8px -3px #000000;
    font-size: 20px;
    font-weight: bold;
  }
  .container-grid main .working ol li::before {
    content: counter(choice);
    counter-increment: choice;
    color: white;
    background-color: #9356DC;
    width: 30px;
    height: 30px;
    display: grid;
    place-items: center;
    border-radius: 50%;
    position: absolute;
    bottom: 15px;
    left: -15px;
  }
  .container-grid main .working ol li:hover {
    transform: scale(1.02);
  }
  .container-grid main .working ol li i.fa-solid {
    margin-right: 20px;
    color: lightgrey;
    font-size: 25px;
  }
  .container-grid main .working ol li:hover .fa-solid {
    opacity: 1;
    transform: scale(1.2);
    color: #FF79DA;
  }
  .container-grid section {
    width: 100%;
  }
  .container-grid footer {
    width: 100%;
  }
}
@media screen and (max-width: 1149px) and (min-width: 738px) {
  .container-grid {
    width: 100%;
    min-height: 100vh;
    margin: auto;
  }
  .container-grid header {
    width: 100%;
  }
  .container-grid main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
  }
  .container-grid main .working {
    padding: 40px;
    width: 75%;
    display: flex;
    flex-direction: column;
    counter-reset: choice;
  }
  .container-grid main .working h1 {
    margin-bottom: 15px;
    margin: 0;
  }
  .container-grid main .working ol {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .container-grid main .working ol li {
    position: relative;
    list-style-type: none;
    background-color: #f6f6f6;
    padding: 20px 30px;
    border-radius: 20px;
    flex-grow: 1;
    box-shadow: 2px 1px 8px -3px #000000;
    font-size: 20px;
    font-weight: bold;
  }
  .container-grid main .working ol li::before {
    content: counter(choice);
    counter-increment: choice;
    color: white;
    background-color: #9356DC;
    width: 30px;
    height: 30px;
    display: grid;
    place-items: center;
    border-radius: 50%;
    position: absolute;
    bottom: 15px;
    left: -15px;
  }
  .container-grid main .working ol li:hover {
    transform: scale(1.02);
  }
  .container-grid main .working ol li i.fa-solid {
    margin-right: 20px;
    color: lightgrey;
    font-size: 25px;
    margin-left: 50px;
  }
  .container-grid main .working ol li span {
    margin-left: 30px;
  }
  .container-grid main .working ol li:hover .fa-solid {
    opacity: 1;
    transform: scale(1.2);
    color: #FF79DA;
  }
  .container-grid main .restaurants {
    padding: 40px;
    background-color: #F2F2F2;
  }
  .container-grid main .restaurants h1 {
    margin-bottom: 15px;
  }
  .container-grid main .restaurants .list-restaurants {
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
  }
  .container-grid main .restaurants .list-restaurants .card-restaurant {
    background-color: white;
    position: relative;
    border-radius: 15px;
    flex-grow: 1;
    width: 47%;
  }
  .container-grid main .restaurants .list-restaurants .card-restaurant .btn-new {
    position: absolute;
    right: 15px;
    top: 20px;
    background-color: #99e2d0;
    color: #377c6b;
    padding: 10px;
    font-weight: bold;
  }
  .container-grid main .restaurants .list-restaurants .card-restaurant img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 200px;
    margin-top: 0%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  .container-grid main .restaurants .list-restaurants .card-restaurant .name-restaurant .text-restaurant {
    float: left;
    margin: 15px;
  }
  .container-grid main .restaurants .list-restaurants .card-restaurant .name-restaurant .fa-regular {
    float: right;
    margin: 20px;
    font-size: 25px;
  }
  .container-grid main .restaurants .list-restaurants .card-restaurant .name-restaurant .fa-solid {
    float: right;
    margin: 25px;
    font-size: 25px;
    margin-right: -45px;
    margin-top: 20px;
    color: transparent;
    background-image: linear-gradient(#9356DC, #FF79DA);
    -webkit-background-clip: text;
    opacity: 0;
    transition: all 200ms ease-in-out;
  }
  .container-grid main .restaurants .list-restaurants .card-restaurant .name-restaurant:hover .fa-solid {
    opacity: 1;
    transform: scale(1.2);
  }
}
@media screen and (min-width: 455px) and (max-width: 737px) {
  .container-grid {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    margin: auto;
  }
  .container-grid .description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
  .container-grid .description .explore {
    text-align: center;
  }
  .container-grid .working {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    counter-reset: choice;
  }
  .container-grid .working h1 {
    margin-bottom: 15px;
    margin: 0;
  }
  .container-grid .working ol {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
  .container-grid .working ol li {
    position: relative;
    list-style-type: none;
    background-color: #f6f6f6;
    padding: 20px 30px;
    border-radius: 20px;
    flex-grow: 1;
    box-shadow: 2px 1px 8px -3px #000000;
    font-size: 20px;
    font-weight: bold;
    gap: 30px;
    min-width: 300px;
    margin-left: -15px;
  }
  .container-grid .working ol li::before {
    content: counter(choice);
    counter-increment: choice;
    color: white;
    background-color: #9356DC;
    width: 30px;
    height: 30px;
    display: grid;
    place-items: center;
    border-radius: 50%;
    position: absolute;
    bottom: 15px;
    left: -15px;
  }
  .container-grid .working ol li:hover {
    transform: scale(1.02);
  }
  .container-grid .working ol li i.fa-solid {
    margin-right: 20px;
    color: lightgrey;
    font-size: medium;
    margin-left: 10px;
  }
  .container-grid .working ol li span {
    font-size: medium;
  }
  .container-grid .working ol li:hover .fa-solid {
    opacity: 1;
    transform: scale(1.2);
    color: #FF79DA;
  }

  .restaurants {
    padding: 40px;
    background-color: #F2F2F2;
  }
  .restaurants h1 {
    margin-bottom: 15px;
  }
  .restaurants .list-restaurants {
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
  }
  .restaurants .list-restaurants .card-restaurant {
    background-color: white;
    position: relative;
    border-radius: 15px;
    flex-grow: 1;
    width: 47%;
  }
  .restaurants .list-restaurants .card-restaurant .btn-new {
    position: absolute;
    right: 15px;
    top: 20px;
    background-color: #99E2D0;
    color: #377c6b;
    padding: 10px;
    font-weight: bold;
  }
  .restaurants .list-restaurants .card-restaurant img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 200px;
    margin-top: 0%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  .restaurants .list-restaurants .card-restaurant .name-restaurant .text-restaurant {
    float: left;
    margin: 15px;
  }
  .restaurants .list-restaurants .card-restaurant .name-restaurant .fa-regular {
    float: right;
    margin: 20px;
    font-size: 25px;
  }
  .restaurants .list-restaurants .card-restaurant .name-restaurant .fa-solid {
    float: right;
    margin: 25px;
    font-size: 25px;
    margin-right: -45px;
    margin-top: 20px;
    color: transparent;
    background-image: linear-gradient(#9356DC, #FF79DA);
    -webkit-background-clip: text;
    opacity: 0;
    transition: all 200ms ease-in-out;
  }
  .restaurants .list-restaurants .card-restaurant .name-restaurant:hover .fa-solid {
    opacity: 1;
    transform: scale(1.2);
  }
}
@media screen and (min-width: 315px) and (max-width: 454px) {
  .container-grid {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    margin: auto;
  }
  .container-grid .description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
  .container-grid .description .explore {
    text-align: center;
  }
  .container-grid .working {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }
  .container-grid .working ol {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 260px;
    margin: 0 auto;
  }
  .container-grid .working ol li {
    min-width: 250px;
    margin-left: -20px;
    padding: 15px;
  }
  .container-grid .working ol li i {
    font-size: small;
    margin-left: 15px;
  }
  .container-grid .working ol li span {
    font-size: small;
    margin-left: -10px;
  }
  .container-grid .restaurants {
    padding: 10px;
    background-color: #F2F2F2;
  }
  .container-grid .restaurants h1 {
    margin-bottom: 15px;
  }
  .container-grid .restaurants .list-restaurants {
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
  }
  .container-grid .restaurants .list-restaurants .card-restaurant {
    background-color: white;
    position: relative;
    border-radius: 15px;
    width: 100%;
  }
  .container-grid .restaurants .list-restaurants .card-restaurant .btn-new {
    position: absolute;
    right: 15px;
    top: 20px;
    background-color: #99E2D0;
    color: #377c6b;
    padding: 10px;
    font-weight: bold;
  }
  .container-grid .restaurants .list-restaurants .card-restaurant img {
    -o-object-fit: cover;
       object-fit: cover;
    min-width: 300px;
    height: 200px;
    margin-top: 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  .container-grid .restaurants .list-restaurants .card-restaurant .name-restaurant .text-restaurant {
    float: left;
    margin: 15px;
  }
  .container-grid .restaurants .list-restaurants .card-restaurant .name-restaurant .fa-regular {
    float: right;
    margin: 20px;
    font-size: 25px;
  }
  .container-grid .restaurants .list-restaurants .card-restaurant .name-restaurant .fa-solid {
    float: right;
    margin: 25px;
    font-size: 25px;
    margin-right: -45px;
    margin-top: 20px;
    color: transparent;
    background-image: linear-gradient(#9356DC, #FF79DA);
    -webkit-background-clip: text;
    opacity: 0;
    transition: all 200ms ease-in-out;
  }
  .container-grid .restaurants .list-restaurants .card-restaurant .name-restaurant:hover .fa-solid {
    opacity: 1;
    transform: scale(1.2);
  }
}
@media screen and (max-width: 314px) {
  .container-grid {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    margin: auto;
  }
  .container-grid .description {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
  }
  .container-grid .description .explore {
    text-align: center;
  }
  .container-grid .working {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }
  .container-grid .working ol {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 265px;
    margin: 0 auto;
  }
  .container-grid .working ol li {
    display: flex;
    min-width: 210px;
    padding: 5px;
    margin-left: -45px;
    position: relative;
    list-style-type: none;
    background-color: #f6f6f6;
    padding: 20px 30px;
    border-radius: 20px;
    flex-grow: 1;
    box-shadow: 2px 1px 8px -3px #000000;
    font-size: 20px;
    font-weight: bold;
  }
  .container-grid .working ol li::before {
    content: counter(choice);
    counter-increment: choice;
    color: white;
    background-color: #9356DC;
    width: 20px;
    height: 20px;
    display: grid;
    place-items: center;
    border-radius: 50%;
    position: absolute;
    bottom: 10px;
    left: -10px;
  }
  .container-grid .working ol li i {
    font-size: small;
    margin-left: 5px;
  }
  .container-grid .working ol li span {
    font-size: 10px;
  }
  .container-grid .restaurants {
    padding: 10px;
    background-color: #F2F2F2;
  }
  .container-grid .restaurants h1 {
    margin-bottom: 15px;
  }
  .container-grid .restaurants .list-restaurants {
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
  }
  .container-grid .restaurants .list-restaurants .card-restaurant {
    background-color: white;
    position: relative;
    border-radius: 15px;
    width: 100%;
  }
  .container-grid .restaurants .list-restaurants .card-restaurant .btn-new {
    position: absolute;
    right: 15px;
    top: 20px;
    background-color: #99E2D0;
    color: #377c6b;
    padding: 10px;
    font-weight: bold;
  }
  .container-grid .restaurants .list-restaurants .card-restaurant img {
    -o-object-fit: cover;
       object-fit: cover;
    min-width: 300px;
    height: 200px;
    margin-top: 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  .container-grid .restaurants .list-restaurants .card-restaurant .name-restaurant .text-restaurant {
    float: left;
    margin: 15px;
  }
  .container-grid .restaurants .list-restaurants .card-restaurant .name-restaurant .fa-regular {
    float: right;
    margin: 20px;
    font-size: 25px;
  }
  .container-grid .restaurants .list-restaurants .card-restaurant .name-restaurant .fa-solid {
    float: right;
    margin: 25px;
    font-size: 25px;
    margin-right: -45px;
    margin-top: 20px;
    color: transparent;
    background-image: linear-gradient(#9356DC, #FF79DA);
    -webkit-background-clip: text;
    opacity: 0;
    transition: all 200ms ease-in-out;
  }
  .container-grid .restaurants .list-restaurants .card-restaurant .name-restaurant:hover .fa-solid {
    opacity: 1;
    transform: scale(1.2);
  }
}/*# sourceMappingURL=style.css.map */