//COLORS//
$color-primary:#9356DC;
$color-secondary:#FF79DA;
$color-tertiary:#99E2D0;
$gardient-explore:linear-gradient( #FF79DA, #9356DC);

// MIXINS //
@mixin flexMid {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin box-shadow{
    box-shadow: 2px 1 px 8px -3px #000;
}